$base: 16;
$baseLineHeight: 1.5;
$smallerLineHeight: 1.2;
$transition: all 0.2s ease-in-out;
$border-radius: 2px;

// breakpoints
$xlg-desktop: 1440px;
$lg-desktop: 1280px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;
$small-screen: $mobile;
$large-screen: $xlg-desktop;

// fonts
$cabin: "Cabin Variable", system-ui, -apple-system, BlinkMacSystemFont, 'seravek', 'segoe ui', 'roboto', sans-serif;
$source-sans: "Source Sans Variable", system-ui, -apple-system, BlinkMacSystemFont, 'seravek', 'segoe ui', 'roboto', sans-serif;
$source-sans-italic: "Source Sans Variable Italic", system-ui, -apple-system, BlinkMacSystemFont, 'seravek', 'segoe ui', 'roboto', sans-serif;$generic-font-family: Menlo, Monaco, Consolas, Courier New, monospace;
// variable font settings
$cabin-regular: "wght" 94, "wdth" 100;
$cabin-medium: "wght" 109, "wdth" 100;
$cabin-semibold: "wght" 116, "wdth" 100;
$cabin-bold: "wght" 128, "wdth" 100;
$source-sans-bold: "wght" 700;
$source-sans-normal: "wght" 400;
// alias
$heading-font: $cabin;
$heading-font-weight-bold: $cabin-bold;
$base-font: $source-sans;
$base-font-weight-bold: $source-sans-bold;
$base-font-weight-normal: $source-sans-normal;


// base colors
$hintofpink: #FDF7F7;
$redpop: #ff6347;
// text
$black: #000000;
$blueblack: #08191C;
$navy: #203e75;
$body: #08191C;
// gray
$white: #ffffff;
$bodylight: #606b6c;

// variations
$lighten-percentage: 10%;
$darken-percentage: 10%;

// specifics
$link: #3769c6;
$link-hover: darken($link, $darken-percentage);

// fun things
$cssProp: #0073f0;
$cssDefinition: #f400b5;
$purple: #a400ff;
$blue: #0083ff;
$green: #00c100;
$orange: #f97a00;
$teal: #00b3c0;
$red: #ea000d;
$deeppurple: #5137ff;
$gray: #515156;
$lightgray: #a1a1ab;
$lightergray: lighten($lightgray, 20%);

// spacing ems
$space-unit: 1em;
$space-xs: (0.5 * $space-unit);
$space-sm: (0.75 * $space-unit);
$space-md: (1.25 * $space-unit);
$space-lg: (2 * $space-unit);
$space-xl: (3.25 * $space-unit);

// spacing rems
$space-unit-rem: 1rem;
$space-xs-rem: (0.5 * $space-unit-rem);
$space-sm-rem: (0.75 * $space-unit-rem);
$space-md-rem: (1.25 * $space-unit-rem);
$space-lg-rem: (2 * $space-unit-rem);
$space-xl-rem: (3.25 * $space-unit-rem);
