@import 'variables';
@import 'mixins';
@import 'reset';

// base font styles

body {
    font-family: $base-font;
    font-variation-settings: $base-font-weight-normal;
    font-feature-settings: "salt";
    font-size: 100%;
    background-color: $hintofpink;
    color: $body;
}

h1,
.header1 {
    font-family: $heading-font;
    font-variation-settings: $heading-font-weight-bold;
    color: $navy;
    line-height: $smallerLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    @include fontSize(46px);
}

@media only screen and (min-width: $tablet) {
    h1,
    .header1 {
        letter-spacing: .04em;
        @include fontSize(48px);
    }
}

h2,
.header2 {
    font-family: $heading-font;
    color: $navy;
    line-height: $baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .04em;
    @include fontSize(36px);
}

h3,
.header3 {
    font-family: $cabin-italic;
    font-style: italic;
    color: $blueblack;
    line-height: $baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    @include fontSize(30px);
}

h4,
.header4 {
    font-family: $base-font;
    color: $blueblack;
    line-height: $baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    @include fontSize(24px);
}

h5,
.header5 {
    font-family: $base-font;
    color: $blueblack;
    line-height: $baseLineHeight;
    margin-top: 0;
    margin-bottom: 0;
    @include fontSize(18px);
}

p {
    color: $body;
    line-height: $baseLineHeight;
    margin-bottom: 0;
    margin-top: 0;
    @include fontSize(18px);

    &.bodySM {
        @include fontSize(14px);
    }

    &.bodyLight {
        color: $bodylight;
    }
}

a {
    color: $link;
    text-decoration: none;
    // background-image: linear-gradient($redpop, $redpop);
    // background-position: 0% 100%;
    // background-repeat: no-repeat;
    // background-size: 0% 4px;
    // transition: background-size cubic-bezier(0,.5,0,1) 0.3s;

    &:hover,
    &:focus,
    &:active {
        color: $link-hover;
        text-decoration: solid underline $redpop .125em;
        //background-size: 100% 4px;
    }
}


// sets ideal reading line length
.bodyOfText {
    @include px-em(width, 640);
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}