@import 'variables';

.pageWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: grid;
  grid-gap: 3rem 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  section {
    grid-column: 1 / -1;

    h2 {
      margin-bottom: 0;
    }
  }

  .sec1 {
    display: flex;
    justify-content: space-between;

    div {
      border: solid 1px $purple;
      padding: 2rem;
      color: $purple;
    }
  }

  .sec2 {
    display: flex;
    justify-content: space-between;

    .skillz {
      display: flex;
    }

    div {
      border: solid 1px $purple;
      padding: 2rem;
      color: $purple;
    }
  }

  .sec3 {
    display: grid;
    grid-template:
      "header header" auto
      "sidebar main" auto
      "sidebar main" auto
      "sidebar footer" auto
      / 1fr 1fr;

    &.mynewclass {
      grid-gap: 1rem;
    }

    button {
        margin: 0 0 1.53rem 1.53rem;
    }

    div:nth-of-type(1) {
      grid-area: header;
    }

    div:nth-of-type(2) {
      grid-area: sidebar;
    }

    div:nth-of-type(3) {
      grid-area: main;
      background: $teal;
    }

    div:nth-of-type(4) {
      grid-area: sidebar;
    }

    div:nth-of-type(5) {
      grid-area: footer;
    }
  }

  .sec4 {
      display: grid;
      grid-template:
        "design development" 500px
        / 1fr 1fr;

    .design {
        background: $orange;
        grid-area: design;
    }

    .dev {
        background: $teal;
        grid-area: development;
    }
  }

    .myNewHybridRole {
        display: flex;
        justify-content: space-between;

        div {
            background: $lightergray;
            padding: 3rem;
        }
    }
}

.solidBox {
  background: $lightergray;
  padding: 3rem;
}

.dottedBox {
  border: dotted 1px $gray;
  padding: 3rem;
}

.circle {
    height: 10em;
    width: 10em;
    background-color:#bbb;
    border-radius: 50%;
    display: inline-block;
}

.inline {
    display: flex;
    align-items: center;
}