@import "variables";
@import "mixins";

footer {
    grid-area: footer;
    padding-top: 3rem;
    @include fontSize(16px);

    .navLinksWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li:not(:first-of-type) {
            padding: 0 1rem;
        }
    }
}
