@import "variables";
@import "contact.module.scss";

a {
	color: $link;
	text-decoration: none;

	&:hover {
		color: $link-hover;
		cursor: pointer;
		transition: $transition;
	}

	&:visited {
		color: $link;
	}
}

header {
	display: flex;
	flex-wrap: wrap;
	grid-area: header;
	align-items: center;
	margin: 16px 32px;

	.navLinksWrap {
		display: flex;
		flex-direction: column;
		font-size: 16px;

		.navLinks {
			a {
				margin: 16px 16px 16px 0;
			}
		}
	}
}

main {
	grid-area: welcome;
}

.pageWrap {
  display: grid;
  grid-gap: 62px 0;
  grid-template:
  	"header header header" auto
    ". welcome ." auto
    ". moredetails ." auto
    "footer footer footer" auto
	/ .125fr 3fr .125fr;
}

.aboutKatie {
  display: grid;
  grid-gap: 24px;
  grid-template:
	"katie" auto
	"designer-who-codes" auto
    / 1fr;

  img {
    grid-area: katie;
  }

  p {
    grid-area: designer-who-codes;
  }
}

.moreThings {
  grid-area: moredetails;
}

footer {
  grid-area: footer;
  margin: 16px 32px;
  font-size: 14px;
}

@media only screen and (min-width: $tablet) {
	.pageWrap {
		grid-template:
			"header header header" auto
			". welcome ." auto
			". moredetails ." auto
			"footer footer footer" auto
			/ .5fr 3fr .5fr;
	}

	.aboutKatie {
		grid-template:
		  "katie designer-who-codes" auto
		  / 1fr 2fr;
	}

	.navLinksWrap {
		margin-left: auto;
	}
}

@media only screen and (min-width: $lg-desktop) {
	.pageWrap {
		grid-template:
			"header header header" auto
		  ". welcome ." auto
		  ". moredetails ." auto
		  "footer footer footer" auto
		  / 1fr 3fr 1fr;
	}
}
