@import "variables";
@import "mixins";

main {
	grid-area: main;
	display: grid;
	grid-gap: 60px;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.aboutKatie {
	grid-column: 1/-1;
	// border-top: solid 1px $black;
	display: grid;
	grid-gap: 30px;
	grid-template:
		"katie" auto
		"image" auto
		"designer-who-codes" auto
		/ auto;

	div:nth-child(2){
		grid-area: image;
	}

	.katieHeadline {
		padding-top: 30px;
		// background: $black;
		grid-area: katie;


		h1 {
			// color: $white;
		}

		.neatImage {
			transition: all .25s ease-in-out;
			background-image: url(../images/katie-langerman.jpg);
			background-position: center;
			background-size: cover;
			position: relative;

			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				// z-index: 999;
				background-color: $black;
				opacity: 1;
				top: 0;
				left: 0;
				transition: all .25s ease-in-out;
			}

			&:hover {
				&:after {
					opacity: 0;
					transition: opacity .25s ease-in-out;
				}
			}
		}


	}

	h2 {
		grid-area: designer-who-codes;
	}
}

.postsWrap {
	grid-column: 1/-1;

	h1 {
		margin-bottom: 30px;
	}

	.posts {
		display: grid;
		grid-gap: 20px;
		grid-template:
			"heading1 heading2" auto
			"list1 list2" auto
			/ 1fr 1fr;

		h2 {
			&:first-of-type {
				grid-area: heading1;
			}

			&:last-of-type {
				grid-area: heading2;
			}
		}

		ul {
			@include fontSize(18px);
			line-height: $baseLineHeight;

			&:first-of-type {
				grid-area: list1;
			}

			&:last-of-type {
				grid-area: list2;
			}
		}

		li {
			margin-bottom: 30px;
		}

		a {
			display: flex;
			flex-direction: column;

			time {
				color: gray;
				@include fontSize(16px);
			}
		}

		.customDate {
			color: gray;
			@include fontSize(16px);
			display: flex;
			flex-direction: row;

			.bullet {
				padding: 0 4px;
			}
		}
	}
}

footer {
  grid-area: footer;
  margin: 16px 32px;
  font-size: 14px;
}

@media only screen and (min-width: $tablet) {

	.aboutKatie {
		grid-template:
		  "katie katie" auto
		  "image designer-who-codes" auto
		  / min-content;
	}
}

