@import "variables";
@import "mixins";

.pageWrap {
    display: grid;
    grid-gap: 2rem 0;
    grid-template:
        "header header header" auto
        ". main ." auto
        "footer footer footer" auto
        / .125fr 3fr .125fr;
}

@media only screen and (min-width: $lg-desktop) {
	.pageWrap {
		grid-template:
			"header header header" auto
		    ". main ." auto
		    "footer footer footer" auto
		    / .5fr 3fr .5fr;
	}
}