@import "variables";
@import "mixins";

.backLink {
  grid-column: 1/-1;
}

.postWrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: [main-start] auto [main-end];
  grid-gap: 2rem;
}

.postContent, .postHeader {
  grid-column: main/main;
}

@media only screen and (min-width: $desktop) {
	.postWrap {
        display: grid;
        grid-template-columns: [main-start] 4fr [main-end] 1.5fr;
      }
}
