@import "variables";
@import "mixins";

.backLink {
  grid-column: 1/-1;
}

.postWrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: [main-start] auto [main-end];
  grid-gap: 2rem;

  code {
    white-space: pre;
    background: $white;
    font-family: $generic-font-family;
    font-size: .85rem;
    padding: .125rem .5rem;
    border: solid 1px $navy;
  }

  p {
    margin-bottom: 2rem;
    line-height: $largerLineHeight;
  }

  h2 {
    margin-bottom: .75rem;
  }

  h3 {
    color: $navy;
    margin-bottom: .75rem;
  }
}

.postContent, .postHeader {
  grid-column: main/main;
}

@media only screen and (min-width: $desktop) {
	.postWrap {
        display: grid;
        grid-template-columns: [main-start] 4fr [main-end] 1.5fr;
      }
}
